<!DOCTYPE html>
<html>
	<head>
		<title>Login todo</title>
		{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'todolist/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="login">
			<div class="login_title">
				<h1>Login</h1>
			</div>
			<div class="login_form">
				{% block content %}
  				<form method="post">
    				{% csrf_token %}
    				{{ form.as_p }}
   					<button type="submit" class="btn_submit">Login</button>
  				</form>
				{% endblock %}
			</div>
		</div>
	</body>
</html>