<html>
	<head>
		<title>Confirm delete</title>
		{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'todolist/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="head_logout">
            <a>[{{ request.user.username }}]</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
		<div class="task_sheet">
			<div class="action_title">
				<a>Delete</a>
			</div>
			<form method="post">{% csrf_token %}
				<p>The task you want delete is: "{{ object.title }}"</p>
				<p>Is assigned to the user: "{{ object.assigned_user }}"</p>
    			<p>The status is: "{{ object.done }}"</p>
    			<button class="btn_sheet" onclick="window.location.href = '{% url 'todo_list' %}';">Cancel</button>
    			<input class="btn_delete" type="submit" value="Delete">
			</form>
		</div>
	</body>
</html>