<html>
	<head>
		<title>Done todo</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'todolist/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="head_logout">
			<a>[{{ request.user.username }}]</a>
			<a href="{% url 'logout' %}">Logout</a>
		</div>
		<div class="task_sheet">
			<div class="action_title">
				<a>Done tasks</a>
			</div>
			<div class="task_list">
				{% block content %}
				{% for todo in object_list %}
    			<div class="task">
    				<div class="task_name">
        				<a>{{ todo.title }}</a>
        			</div>
        			<div class="task_detail">
        				<a>{{ todo.assigned_user }} - {{ todo.updated }}</a>
        			</div>
    			</div>
				{% endfor %}
				{# The following renders the pagination html #}
				{% include "_pagination.html" %}
				{% endblock %}
				<div>
					<button type="button" class="btn_delete" onclick="window.location.href = '{% url 'todo_list' %}';">Back to the list</button>
				</div>
			</div>
		</div>
	</body>
</html>