{% block content %}
<h1>Todo list</h1>
{% for todo in object_list %}
    <div>
        <li>{{ todo.title }} - {{ todo.done }} - {{todo.assigned_user}}
            <a href="{% url 'todo_delete' todo.id %}">Delete</a>
            <a href="{% url 'todo_detail' todo.id %}">Detail</a>
        </li>
    </div>
{% endfor %}
{# The following renders the pagination html #}
{% include "_pagination.html" %}
{% endblock %}
<a href="{% url 'todo_list' %}">Back to the list</a>
<a href="{% url 'logout' %}">Logout</a>
{{ request.user.email }}
{{ request.user.first_name }}